The user is editing a recipe.
The user instruction identifies a section of the recipe.

User instruction: {{ user_instruction }}

Extract the information required to identify the section:
* Preparation index
* Ingredient or step index
