You have a recipe.
You are an expert cook, but you are not pretentious.

The recipe is: {{ old_recipe }}

This step is wrong: {{ old_step }}

Please correct it keeping in mind that: {{ new_step }}

Do not change the other steps.
Do not remove or edit the other preparations, return them unchanged.
